html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    box-sizing: border-box;
}

body {
    background: linear-gradient();
    transition: linear ease-in 2s;
}

#logo {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    padding: 0;
    margin-bottom: -5px;
    transform: scale(1);
    transition: linear 1s;
}

#logo:hover {
    transform: scale(1.5);
    transition: linear 1s;
}

.s6 {
    margin-right: 25px;
}

.navegacion {
    max-width: 75%;
    margin: 0 auto;
}

#comentarioNombre {
    margin-top: 25px;
    padding: 2.5px;
}

#comentarioNombre p {
    color: #e6967b;
    font-size: 1.5em;
}

ul {
    position: relative;
    text-align: center;
    margin: 0;
}

ul li {
    display: inline-block;

}

ul li a {
    box-shadow: 1px 0 4px rgba(0,0,0,0.2);
    font-size: 1.3em;
    text-transform: bold;
    padding: 10px;
    text-decoration: none;
    color: #e6967b;
    background-color: #fff;
}

ul li a:hover {
    background-color: #e6967b;
    color: white;
}

#divCS {
    position: absolute;
    top: 10;
    right: 25;
}

#opciones {
    position: absolute;
    top: 25;
    right: 25;
    font-size: 1.5em;
}

#opciones:hover {
    cursor: pointer; 
    color: #e6967b;
}

.bi-gear-fill {
    color: #e6967b;
}

#listaShow {
    position: absolute;
    top: 45;
    right: 45;
}

#listaShow li {
    border: 1px solid #e6967b;
    display: inline-block;
    color: #e6967b;
    width: 100%;
    padding: 5px;

}

#listaShow li:hover {
    cursor: pointer;
    color: white;
    background-color: #e6967b;
}

#listaShow .in {
    transition: linear ease-in;
}

.container {
    margin-top: 35px !important;
}

.col {
    color: #e6967b;
}

.rotado {
    animation-name: girar;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    } 
    to {
        transform: rotate(360deg);
    }
}

.vueltaRotado {
    animation-name: girarAlReves;
    animation-duration: 2000ms;
    animation-timing-function: linear;
}

@keyframes girarAlReves {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}