#logo {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 240px;
    height: 240px;
    padding: 0;
    margin-bottom: -5px;
    transform: scale(1);
    transition: linear 1s;
}

#logo:hover {
    transform: scale(1.4);
    transition: linear 1s;
}

.container {
    margin-top: 55px;
}

h3 {
    font-size: 2em !important;
    color: #e6967b;
}

.picker__date-display {
    background-color: #e6967b;
  }
  .picker__weekday-display {
    background-color: #e6967b;
  }
  .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    background-color: #e6967b;
  }