html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    box-sizing: border-box;
}

#logo {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    padding: 0;
    margin-bottom: -5px;
    transform: scale(1);
    transition: linear 1s;
}

#logo:hover {
    transform: scale(1.5);
    transition: linear 1s;
}

.s6 {
    margin-right: 25px;
}

.navegacion {
    max-width: 75%;
    margin: 0 auto;
}

#comentarioNombre {
    margin-top: 25px;
    padding: 2.5px;
}

#comentarioNombre p {
    color: #e6967b;
    font-size: 1.5em;
}

#enlaces {
    position: relative;
    text-align: center;
    margin: 0;
}

#enlaces li {
    display: inline-block;

}

ul li a {
    box-shadow: 1px 0 4px rgba(0,0,0,0.2);
    font-size: 1.3em;
    text-transform: bold;
    padding: 10px;
    text-decoration: none;
    color: #e6967b;
    background-color: #fff;
}

ul li a:hover {
    background-color: #e6967b;
    color: white;
}

#notificaciones {
    position: absolute;
    top: 25;
    right: 75;
    font-size: 1.5em;
}

#notificaciones:hover {
    cursor:pointer;
    color: #e6967b;
}

#listaNot {
    width: 25%;
    border-radius: 15px;
    position: absolute;
    top: 25;
    right: 150;
    visibility: hidden;
}

#listaNot h4 {
    font-size: 1.3em;
    display: inline-block;
}

#divCS {
    position: absolute;
    top: 10;
    right: 25;
}

#opciones {
    position: absolute;
    top: 25;
    right: 25;
    font-size: 1.5em;
}

#opciones:hover {
    cursor: pointer; 
    color: #e6967b;
}

.bi-gear-fill {
    color: #e6967b;
}

#listaShow {
    position: absolute;
    top: 55;
    right: 45;
}

#listaShow li {
    border: 1px solid #e6967b;
    display: block;
    color: #e6967b;
    width: 100%;
    padding: 5px;

}

.punto {
    position: absolute;
    animation: popup 0.7s;
    top: 25;
    right: 73;
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.punto:hover {
    cursor:pointer;
}

.seleccionado {
    animation: ring 4s .7s linear infinite;
    transform-origin: 50% 4px;
    animation-timing-function: linear;
    color: #e6967b;
}

@keyframes ring {
    0% {
        transform: rotate(0);
    }
    1% {
        transform: rotate(30deg);
    }
    3% {
        transform: rotate(-28deg);
    }
    5% {
        transform: rotate(34deg);
    }
    7% {
        transform: rotate(-32deg);
    }
    9% {
        transform: rotate(30deg);
    }
    11% {
        transform: rotate(-28deg);
    }
    13% {
        transform: rotate(26deg);
    }
    15% {
        transform: rotate(-24deg);
    }
    17% {
        transform: rotate(22deg);
    }
    19% {
        transform: rotate(-20deg);
    }
    21% {
        transform: rotate(18deg);
    }
    23% {
        transform: rotate(-16deg);
    }
    25% {
        transform: rotate(14deg);
    }
    27% {
        transform: rotate(-12deg);
    }
    29% {
        transform: rotate(10deg);
    }
    31% {
        transform: rotate(-8deg);
    }
    33% {
        transform: rotate(6deg);
    }
    35% {
        transform: rotate(-4deg);
    }
    37% {
        transform: rotate(2deg);
    }
    39% {
        transform: rotate(-1deg);
    }
    41% {
        transform: rotate(1deg);
    }
    43% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes popup {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    60% {
        transform: scale(1.1);
    }
    70% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(1);
    }
    90% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#listaShow li:hover {
    cursor: pointer;
    color: white;
    background-color: #e6967b;
}

#listaShow .in {
    transition: linear ease-in;
}

.container {
    margin-top: 45px !important;
}

.col {
    color: #e6967b;
}

.rotado {
    animation-name: girar;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    } 
    to {
        transform: rotate(360deg);
    }
}

.vueltaRotado {
    animation-name: girarAlReves;
    animation-duration: 2000ms;
    animation-timing-function: linear;
}

@keyframes girarAlReves {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}