html {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    text-align: center;
}

a.alogo {
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    width: 250px;
    height: 250px;
    z-index: 1;
}

#logo {
    width: 250px;
    height: 250px;
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 0;
}
html {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

h2 {
    font-size: 1.1em;
    color: #e6967b;
}

.container {
    width: 75%;
    text-align: center;
}