html {
    height: 100%;
    font-family: inherit;
    box-sizing: border-box;
}

#logo {
    width: 250px;
    height: 250px;
    text-align: center;
    margin: 0 auto;
    /* margin-bottom: -5px; */
    display: block;
    padding: 0;
}

#loginPanel {
    text-align: center;
    box-shadow: 1px 0 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: auto;
    max-width: 50%;
    border-radius: 10px;
}

#loginPanel label.nombre {
    width: 50px;
}

/* #loginPanel label.apellidos, #loginPanel input.apellidos {
    width: 45%;
    display: inline;
    position: relative;
    float: right;
} */

.columna {
    margin-top: 30px;
    float: left;
    width: 50%;
    margin-bottom: 15px;
}

.nya {
    margin-top: 20px;
    margin-left: 15%;
    /* margin-right: 5px; */
    width: 35%;
    float: left;
}

.apl {
    margin-top: 20px;
    margin-right: 15%;
    width: 35%;
    float: right;
}

.linea:after {
    content: "";
    display: table;
    clear: both;
}

#loginPanel h2 {
    color: #e6967b;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 1.55em;
}

#loginPanel #elemento label {
    /* margin-top: 25px;
    margin-bottom: 10px; */
    display: block;
    color: #e6967b;
}

#loginPanel #elemento input {
    width: 75%;
    padding: 5px 0;
    margin-bottom: 25px;
    border: none;
    padding: 10px;
    border-bottom: 1px solid gray;
    margin-bottom: 30px;
    outline: none;
}

#loginPanel #elemento input[type="submit"] {
    border: 1px solid gray;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    padding: 10px;
    background: #e6967b;
}

#loginPanel #elemento input:focus {
    border-bottom: 1px solid #e6967b;
}

#loginPanel #elemento input[type="submit"]:active, #loginPanel #elemento input[type="submit"]:focus {
    letter-spacing: 2.5px;
    text-transform: uppercase;
    padding: 10px;
    background-color: white;
    color: #e6967b;
    margin-top: 25px;
}

p a:active, p a:link, p a:hover, p a:focus, p a {
    color: #e6967b;
}