html {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    text-align: center;
}

h2 {
    font-size: 2em !important;
    text-transform: uppercase;
    color: #e6967b;
}

#loginPanel {
    width: 50%;
    display: inline-block;
    border-radius: 10px;

}

.input-field input:focus+label {
    color: #e6967b !important;
}

.input-field input:focus {
    border-bottom: 1px solid #e6967b !important;
    box-shadow: 0 0 0 0 !important;
}

button {
    width: 50%;
    padding: 10px;
    background-color: #e6967b;
    color: black;
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
}

.waves-effect {
    background-color: #e6967b !important;
    color: white !important;
}

a.alogo {
    margin: 0 auto;
    display: inline-block;
    width: 250px;
    height: 250px;
}

#logo {
    width: 250px;
    height: 250px;
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 0;
}

p a:active, p a:link, p a:hover, p a:focus, p a {
    color: #e6967b;
}

/* #aceptarLogout {
    box-shadow: 1.5px 0 4px rgba(0,0,0,0.2);
    font-size: 1.3em;
    text-transform: bold;
    padding: 10px;
    width: 25%;
    text-decoration: none;
    color: #e6967b !important;
    background-color: #fff !important;
    margin-left: 5px;
  }
  
#aceptarLogout:hover {
    color: white !important;
    background-color: #e6967b !important;
  } */