h1 {
    display: inline-block;
    padding: 5px;
    font-size: 3em !important;
    width: 100%; 
}

.cargador {
    margin: 25% auto 0;
    text-align: center;
}

.cargador > div {
    width: 20px;
    height: 20px;
    background-color: #e6967b;
    border-radius: 50%;
    display: inline-block;
    animation: saltar 1.4s ease-in-out infinite both;
}

.tituloCargador {
    font-family: inherit;
    text-align: center;
    color: #e6967b;
}

.cargador .punto1 {
    animation-delay: -0.32s;
}

.cargador .punto2 {
    animation-delay: -0.16s;
}

@keyframes saltar {
    0%, 80%, 100% {
        transform: scale(0)
    }
    40% {
        transform: scale(1.0);
    }
}

img {
    margin-bottom: -50px;
}

#cuerpo {
    margin-top: 15px !important;
    width: 96% !important;
    border-radius: 10px;
    height: 100% !important;
}

.title {
    padding: 10px !important;
    margin-top: 25px !important;
    color: #e6967b;
    margin-bottom: -7px !important;
}

#menuIcon {
    position: absolute;
    top: 25;
    left: 50 !important;
    font-size: 2em;
    color: lightgray !important;
}

#menuIcon:hover {
    color: #e6967b !important;
}

#menuIcon:focus {
    color:#e6967b !important;
}

.user-view {
    padding: 2px !important;
    margin: 0 !important;
}

.user-view:hover {
    background-color: white;
    color: black;
}

li {
    display: block;
    margin-left: 25px;
    padding: 5px;
    width: 75% !important;
    border-radius: 5px;
}

li.usuarios:hover, li.citas:hover, li.alertas:hover, li.volver:hover, li.admLogs:hover, li.citasLog:hover {
    background-color: lightgray !important;
    color: #e6967b;
    cursor: pointer;
}

p {
    display: inline-blockS;
    padding: 0;
}

p.nombre {
    font-size: 1.5em;
    color: black;
    padding: 0;
}

p.email {
    font-size: 0.9em;
    padding: 0;
    margin-top: -36px;
    color: black;
    font-weight: bold;
}
